
# Создано https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode
# Отредактируйте на https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode

### VisualStudioCode ###
.vscode / *
! .vscode / tasks.json
! .vscode / launch.json
* .code-рабочая область

### Патч VisualStudioCode ###
# Игнорировать всю локальную историю файлов
.history
.ionide

### Windows ###
# Файлы кэша эскизов Windows
Thumbs.db
Thumbs.db: зашифрованный
ehthumbs.db
ehthumbs_vista.db

# Файл дампа
* .stackdump

# Файл конфигурации папки
[Dd] esktop.ini

# Корзина, используемая в общих файловых ресурсах
$ RECYCLE.BIN /

# Файлы установщика Windows
*.такси
* .msi
* .msix
* .msm
* .msp

# Ярлыки Windows
* .lnk

# Конец https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode
